h1 {
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
}
h2 {
    font: bold 14px Verdana;
}
header, section, footer, aside, nav, article, hgroup {
    border: 1px solid black;
    display: block;
}